<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debican.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>821D262E93BB01489894C00197011E286C6CB345</string>
				<key>dateExpires</key>
				<string>22/06/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>821D262E93BB01489894C00197011E286C6CB345</string>
						<key>dateExpires</key>
						<string>22/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5448ZQBK98</string>
						<key>name</key>
						<string>Ashish Mahindra</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5448ZQBK98.org.reactjs.native.example.Debican</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5448ZQBK98</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5448ZQBK98.org.reactjs.native.example.Debican</string>
				</array>
			</dict>
			<key>name</key>
			<string>Debican.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ccba2e7-c649-4f62-ad8f-f36f8861c5d0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5448ZQBK98</string>
				<key>name</key>
				<string>Ashish Mahindra</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
